<div class="container">
    <h2>Welcome! <span style="color: red">{{name}}</span></h2><a href='/client/logout/'><Span>Logout</Span></a>
    <p>Just a testing for showing the client shop info</p>
    <p><strong>Total Shop info:</strong> {{data.length}}</p>
    <div class="card-deck">
            <div class="row">
    {{#if data}}
    {{#each data}}
    <div class="col-lg-4">
        <div class="card my-2">
            <div class="card-body text-left">
                <p class="card-text text-primary">Shop ID: {{id}}</p>
                <p class="card-text">Shop Name: {{shopname}}</p>
                <p class="card-text">Quota: {{quota}}</p>
                <p class="card-text">Status: {{status}}</p>
                <a href="./shop/{{id}}"><button type="button" class="btn btn-info">Details</button></a>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p class="text-danger">You don't have any shopinfo! let's make one!</p>
    {{/if}}
        </div>
    </div>

</div>
</div>
</div>